/**
 * CSS for the Trivia
 * 
 *@ubaid Ur Rehman
 *Student#991395773
 *Date:2020/06/08
 */



body {
    background-color: #eeeeee;
}
/**
*Container for all the buttons, and question header
*/
.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
}
/**
*Question header
*/
.grid h1 {
    font-family: "sans-serif";
    background-color: #57636e;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border-radius: 50px;
}

#score {
    color: #5A6772;
    text-align: center;
    font-size: 30px;
}

.grid #question {
    font-family: "monospace";
    font-size: 15px;
    color: #5A6772;
}

.buttons {
    margin-top: 30px;
}
/**
*CSS for buttons
*/
#btn0, #btn1, #btn2, #btn3 {
    background-color: #778897;
    width: 250px;
    font-size: 15px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}
/**
*color changes when you hover over buttons
*/
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #57636e;
}
/**
*Removed button outline
*/
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
}